


.container {
    width: 550px;
    margin-top: 30px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

.main-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 4rem;
    text-align: center;
}

#searchArea {
    border: 1px solid #107df5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-example {
    color: #ccc;
    float: right;
}

/*.btnSearch {*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/

/*#errorMessage {*/
/*    display: none;*/
/*}*/

/* Movie Search Result*/

article.movie {
    margin: 10px;
    padding: 10px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

article.movie:hover {
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    cursor: pointer;
}

.movieInfo section {
    /*padding-bottom: 10px;*/
}

.movieInfo .tag {
    border: 1px solid #107df5;
    border-radius: 5px;
    background-color: rgba(16, 125, 245, 0.1);
    padding: 5px;
    margin-right: 10px;
    line-height: 37px;
}

.movieInfo .body {
    border: 1px solid #f55110;
    border-radius: 5px;
    background-color: rgba(245, 81, 16, 0.2);
    padding: 5px;
    line-height: 29px;
}
